.card {
    min-height: 500px;
    background: #F1EDFF;
    border-radius: 30px;
    border:none;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.300); 
}
p {
    font-family: Inter, sans serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
h1 {
    font-family: Inter, sans serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size:50px;
   
    
    
}
.datum {
    font-family: Inter, sans serif;
    text-align: center;
    font-size:25px;
    font-weight: normal;
   margin-top: -10px;
}
.hover-zoom{
    transition: transform 0.3s ease;
}
.hover-zoom:hover {
    transform: scale(1.1);
}
a {
    padding: 30px;
}
.bild-beschriftung{
    font-weight: bold;
    font-size: 18px;
    padding-top: 35px;
    margin-left: 55px;
}
