h1{ 
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: -10px;
    padding: 25px;
}
.card { 
    background-color: #F1EDFF;
    border: none;
    border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#textfeld {
    background-color: #FFFFFF;
    box-shadow: none;
}
#notiz {
    border: none;
    height: 340px;
    resize: none;
}
a {
    padding-top: 10px;
    background-color: #4422CC;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    margin-bottom: 10px;
}
.headline-row {
    display: flex;
    align-items: center;
    gap: 70px;
}
.cat-img {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-left:50px;
}
