h1 {
    margin-top:10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 55px;
    
}
.nowrap {
    white-space: nowrap; 
}
p {
    margin-top:10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size:18px;
    
}
.beschreibung {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.cat-img {
    position: absolute;          
    bottom: 0;                   
    left: 150px;                 
    width: 400px;                
    height: auto; }

#email-input {
    padding: 16px;
    font-size: 16px;
}

#passwort-input {
    padding: 16px;
    font-size: 16px;
}

.card {
    background: #F4A5DF;  
    min-height: 580px;
    border-radius: 30px;
    padding: 20px;
    margin-top: -27px;
    border: none;
}

#anmelden {
  padding: 16px;  
 background-color: #4422CC;
 border: none;
}

.link-black {
    color: black !important;
    text-decoration: underline;
}
.form1-bg {
    position: absolute;
    top: 5vw;       
    left: -2vw;
   width: 50vw;    
    height: auto;
      z-index: -1;
}
.form2-bg {
  position: absolute;
  right: 0;
  bottom: 0;       
  width: 55vw;
  height: auto;
  z-index: -2;
}
.container {
  padding-left: 60px;  
  padding-right: 60px;
  max-width: 100%; 
}

header img {
    display: block; /* Standard: Bild anzeigen */
}

body.login-page header img {
    display: none; /* Auf Login-Seite ausblenden */
}