.card {
    background-color: #F1EDFF;
    border: none;
    min-height: auto;
    border-radius: 30px;
    margin-bottom:20px;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
#gefuehle {
    margin-top: 20px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.300);
    min-height: 250px;
}
#gefuehle-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#schlaf-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}
#sozial-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
}
#schule-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
}
#hobbys-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
#schlaf {
    margin-top: 20px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.300);
    min-height: 250px;
}
#sozial {
    margin-top: 20px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.300);
    min-height: 250px;
}
#schule {
    margin-top: 20px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.300);
    min-height: 250px;
}
#hobbys {
    margin-top: 20px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.300);
    min-height: 250px;
}
a {
    padding-top: 10px;
    background-color: #4422CC;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
}
.emoji{
    text-align: center;
}
.emoji img {
    width: 65px;
    height: 65px;
}
.emoji-btn {
    background: none;
    border-radius: 50%;
    border:none;
    padding: 12px;
    cursor: pointer;
   text-align:center;
}
.emoji-btn:hover{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}