.header{
    font-weight: bold;
    font-size: 30px;
    font-family: Inter, sans-serif;
    background-color: #F4A5DF;
    height: 50px;
    line-height: 28px;
    padding: 16px;
    margin: 0;
}
.logout-btn {
    background: none;
    border: none;
    cursor: pointer;
}
.logout-icon {
    width: 25px;
    height: 25px;
}