.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  background-color: #f8cbec;         
  box-sizing: border-box;       
 position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;         
}

.logo {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  width: 25px;
  height: 25px;
}