h1 {
    font-family: Verdana, sans serif;
    font-weight: bold;
    margin-top: 30px;
}
h4 {
    font-family: Verdana, sans serif;
    margin: 0;
    font-size:18px;
    margin-top: 13px;
}
.cat-img {
    width: 600px;
    height: auto;
    margin-top: -120px;
    position: fixed;
}