h1 {
    margin-top:-20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    
}
p {
    margin-top:-10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size:18px;
    
}
.cat-img {
    width: 390px;
    height: auto;
    margin-left: 90px;
    margin-top: 40px;
}

#name-input {
    padding: 16px;
    font-size:16px;
}
#email-input {
    padding: 16px;
    font-size: 16px;
}

#passwort-input {
    padding: 16px;
    font-size: 16px;
}

.card {
    background: #F4A5DF;  
    min-height: 580px;
    border-radius: 30px;
    padding: 20px;
    margin-top: -27px;
    border: none;
}

#registrieren {
    padding: 16px;  
    background-color: #4422CC;
    border: none;
}
#zurueck:hover {
   background-color:#4422CC;
   color: white; 
}
#zurueck{
    color: black;
    background-color: white;
}
